<p id="notice"><%= notice %></p>

<p>
  <b>Latlon:</b>
  <%= @placemark.latlon %>
</p>

<p>
  <b>Year:</b>
  <%= @placemark.year %>
</p>

<p>
  <b>Year2:</b>
  <%= @placemark.year2 %>
</p>

<p>
  <b>Slug:</b>
  <%= @placemark.slug %>
</p>
<p>
  <b>ThumbURL:</b>
  <%= link_to @placemark.getThumbURL, @placemark.getThumbURL %>
  <br/><img src="<%= @placemark.getThumbURL %>"/>
</p>
<p>
  <b>FullURL:</b>
  <%= link_to @placemark.getFullURL, @placemark.getFullURL %>
  <br/><img src="<%= @placemark.getFullURL %>"/>
</p>